@tailwind base;
@tailwind components;
@tailwind utilities;
.dd{
    display: none;
}
.pic{
    width: 80px;
    height: 40px;
}
table, th, td {
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
.car_data{
    font-weight: bold;
}